<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>コード公開サービス</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>コードエディタ</h1>
  <form action="/save" method="POST">
    <label>HTML</label><br>
    <textarea name="html" rows="10" cols="60"></textarea><br>
    <label>CSS</label><br>
    <textarea name="css" rows="10" cols="60"></textarea><br>
    <label>JavaScript</label><br>
    <textarea name="js" rows="10" cols="60"></textarea><br>
    <button type="submit">保存して公開</button>
  </form>
</body>
</html>
